body {
	background-image: url("paper.png");
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.container h1 {
	text-align: center;
}

#diagram {
	background-color: #434557;
	border: 2px solid black;
	border-radius: 15px;
	height: 600px;
}

#manBouton {
	position: relative;
	bottom: -10px;
}

#resultat {
	text-align: center;
	font-weight: bold;
	position: relative;
	bottom: -20px;
}

#table {
	padding: 10px;
}

td, th {
	padding: 10px;
	border: 2px solid black;
	font-size: 18px;
	color: black;
	font-weight: bold;
	text-align: center;
	width: 100px;
	overflow: auto;
}
th {
	color: #ffffff;
	background-color: #317c46;
}